# Make appropriate to your system and rename to .Renviron

# Where to download the raw data
PWS_DATA_PATH="data-raw/data.zip"

# Number of mcmc iterations
N_ITER=500

# Total number of cores to use for mcmc
N_CORES=4

# brms backend (rstan or cmdstanr)
BRMS_BACKEND="rstan"

# Number of mcmc threads per chain (note >1 must use cmdstanr above)
N_THREADS=1

# Analyze a subset of participants? (0-1)
N_SUBSET_PROPORTION=1
